<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pixel.pgback.mapper.DistributionMapper">
    <resultMap id="BaseResultMap" type="com.pixel.pgback.entity.Distribution">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="candidate_id" jdbcType="INTEGER" property="candidateId"/>
        <result column="recommendation" jdbcType="VARCHAR" property="recommendation"/>
    </resultMap>
    <insert id="insertSelective" parameterType="com.pixel.pgback.entity.Distribution">
        insert into distribution
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="candidateId != null">
                candidate_id,
            </if>
            <if test="recommendation != null">
                recommendation,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="candidateId != null">
                #{candidateId,jdbcType=INTEGER},
            </if>
            <if test="recommendation != null">
                #{recommendation,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>